body{




  /*background: rgba(34, 40, 49);*/




  /*background: rgba(255,199,44);*/




  background: linear-gradient(to right, #403a3e, #be5869);



















}









.tab {




       display:inline-block;




       margin-left: 40px;




       color: white;




}














.text {




  text-transform: uppercase;




	background: linear-gradient(to right, #403a3e 0%, #be5869 100%);




  font-size: 75px;




  line-height: 25px;




  font-weight: normal;




  margin-bottom: 0px;




  margin-top: 40px;




  text-shadow: 0 .5px .5px #fff;




}
